@page
@using System.Net;
@model PRM_FlowerShop.Pages.FlowerShop.FlowerPage.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Flower</h4>
    <hr />
  
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flower.FowerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flower.FowerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flower.FlowerImage)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Flower.FlowerImage != null)
            {
                try
                {
                    HttpWebRequest request = (HttpWebRequest)HttpWebRequest.Create(@Model.Flower.FlowerImage);
                    request.Method = "HEAD";
                    request.GetResponse();
                    <img class="img-thumbnail" style="height:200px" src="@Model.Flower.FlowerImage" alt="@Model.Flower.FowerName">
                }
                catch
                {
                    <img class="img-thumbnail" style="height:200px" src="https://www.csusb.edu/sites/default/files/no-picture-available-icon-1.jpg" alt="Image not available">
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flower.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flower.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flower.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flower.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flower.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flower.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Flower?.FlowerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
